<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Google page">
    <test name="Regression">
         <classes>
             <class name="com.google.testbase.NewTest"/>
             
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->